In [211]:
!pip install Fortuna

Requirement already satisfied: Fortuna in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (4.2.0)
WARNING: You are using pip version 21.1.1; however, version 21.2.4 is available.
You should consider upgrading via the '/usr/local/bin/python -m pip install --upgrade pip' command.

In [212]:
!pip install MonkeyScope

Requirement already satisfied: MonkeyScope in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (1.3.4)
WARNING: You are using pip version 21.1.1; however, version 21.2.4 is available.
You should consider upgrading via the '/usr/local/bin/python -m pip install --upgrade pip' command.

Mock Data Set Assuptions
-college
-sex
-age
-degree
-field
-act-score

In [213]:
from Fortuna import random_int, percent_true

In [214]:
random_college = lambda: "Private" if percent_true(32) else "Public"

In [215]:
random_college()

'Private'

In [216]:
from MonkeyScope import distribution

In [217]:
distribution(random_college)

Distribution of 1000000 samples:
 Private: 31.9963%
 Public: 68.0037%

In [218]:
random_gender = lambda: "Male" if percent_true(40) else "Female" if percent_true (98) else "Non-binary"

In [219]:
distribution(random_gender)

Distribution of 1000000 samples:
 Female: 58.7981%
 Male: 39.9795%
 Non-binary: 1.2224%

In [220]:
random_field = lambda: "Bussiness" if percent_true(30) else "Computer Science" if percent_true (20) else "Liberal Arts" if percent_true(70) else "Math/Science"

In [221]:
distribution(random_field)

Distribution of 1000000 samples:
 Bussiness: 29.9539%
 Computer Science: 13.9751%
 Liberal Arts: 39.2144%
 Math/Science: 16.8566%

In [222]:
random_degree = lambda: "Bachelors/Associates" if percent_true(80) else "Masters/Phd"

In [223]:
distribution(random_degree)

Distribution of 1000000 samples:
 Bachelors/Associates: 79.9614%
 Masters/Phd: 20.0386%

In [224]:
from Fortuna import front_poisson, RandomValue, middle_gauss

In [225]:
distribution(front_poisson, 20)

Statistics of 1000 samples:
 Minimum: 0
 Median: 5
 Maximum: 13
 Mean: 4.978
 Std Deviation: 2.2263136509648573
Distribution of 1000000 samples:
 0: 0.6615%
 1: 3.332%
 2: 8.3964%
 3: 14.0282%
 4: 17.5439%
 5: 17.61%
 6: 14.6045%
 7: 10.4957%
 8: 6.4951%
 9: 3.6407%
 10: 1.8031%
 11: 0.8333%
 12: 0.3487%
 13: 0.1366%
 14: 0.0479%
 15: 0.0151%
 16: 0.005%
 17: 0.0017%
 18: 0.0006%

In [226]:
random_age = RandomValue(range(16, 65), front_poisson)

In [227]:
random_age()

26

In [228]:
distribution(random_age)

Statistics of 1000 samples:
 Minimum: 19
 Median: 28
 Maximum: 42
 Mean: 28.331
 Std Deviation: 3.636022505384099
Distribution of 1000000 samples:
 16: 0.0002%
 17: 0.0074%
 18: 0.0372%
 19: 0.1502%
 20: 0.4483%
 21: 1.1043%
 22: 2.2258%
 23: 3.8991%
 24: 6.0315%
 25: 8.1826%
 26: 10.0577%
 27: 11.1542%
 28: 11.4244%
 29: 10.7597%
 30: 9.3797%
 31: 7.6721%
 32: 5.8696%
 33: 4.2661%
 34: 2.881%
 35: 1.8562%
 36: 1.1652%
 37: 0.6671%
 38: 0.3678%
 39: 0.1968%
 40: 0.1022%
 41: 0.0542%
 42: 0.0212%
 43: 0.0098%
 44: 0.0053%
 45: 0.0018%
 46: 0.0009%
 47: 0.0004%

In [229]:
random_act = RandomValue(range(15,36), middle_gauss)

In [230]:
distribution(random_act)

Statistics of 1000 samples:
 Minimum: 18
 Median: 25
 Maximum: 31
 Mean: 24.928
 Std Deviation: 2.0319805473834993
Distribution of 1000000 samples:
 15: 0.0005%
 16: 0.003%
 17: 0.0156%
 18: 0.0815%
 19: 0.3391%
 20: 1.158%
 21: 3.1826%
 22: 6.9345%
 23: 12.0824%
 24: 16.8122%
 25: 18.8791%
 26: 16.8384%
 27: 12.0178%
 28: 6.8846%
 29: 3.1672%
 30: 1.1626%
 31: 0.3369%
 32: 0.0837%
 33: 0.0182%
 34: 0.002%
 35: 0.0001%

In [231]:
    random_sex = CumulativeWeightedChoice((
    (38, "Male"),
    (100, "Female")
    ))

In [232]:
from Fortuna import CumulativeWeightedChoice, RelativeWeightedChoice

In [233]:
class RandomUser:
    random_age = RandomValue(
        range(18, 65),
        front_poisson
    )
    
    random_sex = CumulativeWeightedChoice((
    (38, "Male"),
    (98, "Female"),
    (100, "Non-Binary"),
    ))
    
    random_college = CumulativeWeightedChoice((
    (20, "Private"),
    (100, "Public"),
    ))


    random_act = RandomValue(
        range(15, 36), middle_gauss)
    
    random_degree = RelativeWeightedChoice((
        (85, "Bachelors/Associates"),
        (15, "Masters/Phd")
    ))
    
    random_field = RelativeWeightedChoice((
        (32, "Bussiness"),
        (19, "ComputerScience"),
        (35, "LiberalArts/Education"),
        (14, "Math/Science")
    ))
    
    def __init__ (self):
        self.age = self.random_age()
        self.sex = self.random_sex()
        self.act = self.random_act()
        self.college = self.random_college()
        self.degree = self.random_degree()
        self.field = self.random_field()
        
    def __repr__(self):
        output = (
        f"AGE: {self.age}",
        f"SEX: {self.sex}",
        f"COLLEGE: {self.college}",
        f"ACT_SCORE: {self.act}",
        f"DEGREE & FIELD: {self.degree} {self.field}"
        )
        return '/n'.join(output)
    
    def to_dict(self):
        return {
        "AGE": self.age,
        "SEX": self.sex,
        "COLLEGE": self.college,
        "ACT_SCORE": self.act,
        "DEGREE": self.degree,
        "FIELD": self.field
        }

In [234]:
marry = RandomUser

In [235]:
marry

__main__.RandomUser

In [236]:
import pandas as pd
import random

In [237]:
df = pd.DataFrame(RandomUser().to_dict() for _ in range(100000))

In [238]:
df.head()

,AGE,SEX,COLLEGE,ACT_SCORE,DEGREE,FIELD
0,33,Male,Private,28,Bachelors/Associates,Bussiness
1,29,Female,Public,23,Bachelors/Associates,LiberalArts/Education
2,28,Female,Private,26,Bachelors/Associates,LiberalArts/Education
3,33,Male,Public,23,Bachelors/Associates,ComputerScience
4,32,Female,Public,26,Masters/Phd,LiberalArts/Education

In [239]:
from Fortuna import FlexCat
import random

In [240]:
def salary_dependency_func (df):
    Base_Salary = 20000
    
    if df['AGE'] < 25:
        w1 = 1.2
    else:
        w1 = 1
    if df['SEX'] == 'Female' and df['AGE'] < 30:
        w2 = 1.3
    else:
        w2 = 0.87
    if df['SEX'] == 'Male' and df['DEGREE'] == 'Masters/Phd' and df['COLLEGE'] == 'Private':
        w2 = 1.6
    else:
        w2 = 1.23
    if df['DEGREE'] == 'Masters/Phd':
        w3 = 1.9
    else:
        w3 = 0.7
    if df['FIELD'] == 'ComputerScience' or 'Math/Science':
        w4 = 1.9
    elif df['FIELD'] == 'Bussiness':
        w4 = 1.22
    else:
        w4 = 0.6
    w5 = random.uniform(0.7, 3.4)
        
    final_salary = Base_Salary * w1 * w2 * w3 * w4 * w5
    return final_salary

In [241]:
df['Salary'] = df.apply(salary_dependency_func, axis=1)

In [242]:
df.head()

,AGE,SEX,COLLEGE,ACT_SCORE,DEGREE,FIELD,Salary
0,33,Male,Private,28,Bachelors/Associates,Bussiness,31824.688031
1,29,Female,Public,23,Bachelors/Associates,LiberalArts/Education,54471.278888
2,28,Female,Private,26,Bachelors/Associates,LiberalArts/Education,74158.578044
3,33,Male,Public,23,Bachelors/Associates,ComputerScience,72722.077915
4,32,Female,Public,26,Masters/Phd,LiberalArts/Education,237836.215622

In [243]:
df['Salary'].describe()

count    100000.000000
mean      85434.010961
std       56415.989315
min       22904.636115
25%       49232.787824
50%       74560.798472
75%       99214.163412
max      462860.254145
Name: Salary, dtype: float64

In [244]:
 from sklearn.model_selection import train_test_split

In [274]:
y = df['Salary']
X = df.drop('Salary', axis=1)

In [275]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

In [170]:
!pip install --upgrade category_encoders
import category_encoders as ce

Collecting category_encoders
  Downloading category_encoders-2.2.2-py2.py3-none-any.whl (80 kB)
     |████████████████████████████████| 80 kB 2.8 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.14.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from category_encoders) (1.19.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from category_encoders) (0.24.2)
Collecting statsmodels>=0.9.0
  Downloading statsmodels-0.12.2-cp39-cp39-macosx_10_15_x86_64.whl (9.6 MB)
     |████████████████████████████████| 9.6 MB 1.3 MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.21.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from category_encoders) (1.3.2)
Requirement already satisfied: scipy>=1.0.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from category_encoders) (1.6.3)
Collecting patsy>=0.5.1
  Downloading patsy-0.5.1-py2.py3-none-any.whl (231 kB)
     |████████████████████████████████| 231 kB 18.3 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas>=0.21.1->category_encoders) (2021.1)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from patsy>=0.5.1->category_encoders) (1.14.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Installing collected packages: patsy, statsmodels, category-encoders
Successfully installed category-encoders-2.2.2 patsy-0.5.1 statsmodels-0.12.2
WARNING: You are using pip version 21.1.1; however, version 21.2.4 is available.
You should consider upgrading via the '/usr/local/bin/python -m pip install --upgrade pip' command.

In [247]:
from sklearn.preprocessing import StandardScaler

In [210]:
X.columns

Index(['AGE', 'SEX_Male', 'SEX_Female', 'SEX_Non-Binary', 'COLLEGE_Private',
       'COLLEGE_Public', 'ACT_SCORE', 'DEGREE_Bachelors/Associates',
       'DEGREE_Masters/Phd', 'FIELD_Bussiness', 'FIELD_Math/Science',
       'FIELD_ComputerScience', 'FIELD_LiberalArts/Education'],
      dtype='object')

In [276]:
X_test = ohe(X_test)
X_train = ohe(X_train)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [277]:
X_train.head()

,AGE,SEX_Male,SEX_Female,SEX_Non-Binary,COLLEGE_Public,COLLEGE_Private,ACT_SCORE,DEGREE_Masters/Phd,DEGREE_Bachelors/Associates,FIELD_LiberalArts/Education,FIELD_Math/Science,FIELD_Bussiness,FIELD_ComputerScience
59428,30,1,0,0,1,0,23,1,0,1,0,0,0
34957,29,0,1,0,1,0,24,0,1,1,0,0,0
4264,28,0,1,0,1,0,23,0,1,0,1,0,0
53791,30,0,1,0,0,1,24,0,1,0,0,1,0
82114,27,0,1,0,1,0,21,0,1,0,0,0,1

In [278]:
from sklearn import linear_model

In [279]:
regr = linear_model.LinearRegression()

In [280]:
regr.fit(X_train, y_train)

LinearRegression()

In [281]:
regr.coef_

array([-5.25990840e+02, -3.30371174e+14, -3.30371174e+14, -3.30371174e+14,
       -1.64645227e+15, -1.64645227e+15,  2.90312500e+01,  5.78802519e+16,
        5.78802519e+16, -7.61949418e+16, -7.61949418e+16, -7.61949418e+16,
       -7.61949418e+16])

In [262]:
a=regr.predict(X_test)

In [264]:
predicted = pd.DataFrame(a)

In [266]:
predicted.shape

(33000, 1)

In [284]:
predicted.head(20)

           0
0    65344.0
1    67968.0
2    66960.0
3   183184.0
4    66912.0
5    71184.0
6    69744.0
7    72080.0
8    68816.0
9   186816.0
10   62976.0
11  184944.0
12  188656.0
13   66000.0
14   65712.0
15   67264.0
16   67248.0
17   64624.0
18   66896.0
19   68352.0

In [267]:
y_test.shape

(33000,)

In [292]:
y_test = y_test.reset_index()

In [295]:
y_test.shape

(33000, 2)

In [299]:
y_test = y_test['Salary']

In [300]:
y_test

0         32642.999187
1         62005.374965
2         31947.140273
3        167778.995363
4         68557.186260
             ...
32995     36532.128126
32996     35338.797489
32997     81375.713072
32998     43287.840771
32999     45553.078221
Name: Salary, Length: 33000, dtype: float64

In [303]:
from sklearn.metrics import mean_absolute_error

In [304]:
mean_absolute_error(y_test, predicted)

28289.071712769044