In [1]:
"""OpenAQ Air Quality Dashboard with Flask."""
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
import requests
import openaq
import dateutil

In [2]:
 api = openaq.OpenAQ()

In [3]:
api

OpenAQ API

In [6]:
results = api.measurements(city='Los Angeles', parameter='pm25', df=True) #using a df for easier manipulation
print(results.columns)
#display = results[['value']].copy()

Index(['location', 'parameter', 'value', 'unit', 'country', 'city', 'date.utc',
       'coordinates.latitude', 'coordinates.longitude'],
      dtype='object')

In [14]:
a = results.index[1]

In [15]:
a

Timestamp('2021-05-20 23:00:00')

In [25]:
a = results[['city', 'value']]

In [29]:
a.reset_index(level=0, inplace=True)
a

             date.local         city  value
0   2021-05-20 23:00:00  Los Angeles     68
1   2021-05-20 23:00:00  Los Angeles     34
2   2021-05-20 12:00:00  Los Angeles     53
3   2021-05-20 12:00:00  Los Angeles      7
4   2021-05-20 11:00:00  Los Angeles     16
..                  ...          ...    ...
102 2021-05-16 04:00:00  Los Angeles     12
103 2021-05-16 02:00:00  Los Angeles     69
104 2021-05-16 02:00:00  Los Angeles     47
105 2021-05-16 01:00:00  Los Angeles     49
106 2021-05-16 01:00:00  Los Angeles     80

[107 rows x 3 columns]

In [57]:
a.iloc[0, 0]

Timestamp('2021-05-20 23:00:00')